body {
   background-color: #1b263b;
   font-family: 'Arial', sans-serif;
 }
 
 .navbar {
   background-color: #415A77 !important;
 }
 
 .card {
   border-radius: 10px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   overflow: hidden;
   border: 1px solid #778da9;
   background-color: #415a77;
   position: relative;
 }
 
 .card:hover {
   transform: translateY(-10px);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 }
 
 .card-title, .card-text {
   color: white;
 }
 
 .card h4 {
   background-color: #1B263B;
   color: white;
   padding: 10px;
   border-bottom: 1px solid #778da9;
   margin: 0;
 }
 
 .card-body {
   padding: 15px;
 }
 
 #search-bar, #key-to-check {
   border: 2px solid #778da9;
   color: #778da9;
   background-color: #1b263b;
 }
 
 #search-button, #check-key-button {
   background-color: #778da9;
   border-color: #778da9;
   color: #1b263b;
 }
 
 #search-button:hover, #check-key-button:hover {
   background-color: #0d1b2a;
   border-color: #0d1b2a;
   color: #ffffff;
 }
 
 .navbar-brand {
   color: white !important;
 }
 
 .nav-link {
   color: white !important;
 }
 
 .nav-link:hover {
   color: #0d1b2a !important;
 }
 
 .weapon-icon {
   width: 50%;
   height: auto;
   margin-left: 5px;
   margin-top: 5px;
 }
 
 .weapon-icon-full {
   width: 100%;
   height: auto;
   margin: 0 auto;
   display: block;
 }
 
 .card-buttons {
   position: absolute;
   top: 10px;
   right: 10px;
   display: flex;
   flex-direction: column;
   gap: 5px;
 }
 
 .card-buttons .btn {
   color: #1b263b;
   background-color: #778da9;
   border-color: #778da9;
 }
 
 .card-buttons .btn:hover {
   background-color: #0d1b2a;
   border-color: #0d1b2a;
   color: #ffffff;
 }
 
 .weapon-detail-page h1,
 .weapon-detail-page h2,
 .weapon-detail-page h3,
 .weapon-detail-page p {
   color: white;
 }
 
 .contact {
   padding: 60px 0;
   text-align: center;
 }
 
 .contact .heading {
   font-size: 3rem;
   color: #778da9;
 }
 
 .contact .input-box {
   display: flex;
   justify-content: center;
   gap: 20px;
 }
 
 .contact .input-box input {
   padding: 10px;
   font-size: 1.2rem;
   border: 2px solid #778da9;
   color: #778da9;
   background-color: #1b263b;
 }
 
 .contact .btn {
   background-color: #778da9;
   border-color: #778da9;
   color: #1b263b;
   padding: 10px 20px;
   font-size: 1.2rem;
 }
 
 .contact .btn:hover {
   background-color: #0d1b2a;
   border-color: #0d1b2a;
   color: #ffffff;
 }
 
 .alert {
   margin: 20px auto;
   width: 50%;
   text-align: center;
 }